@import "~meepo-themes/global";
:host {
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    .footer-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            color: $activeColor;
        }
    }
}