<!-- <app-header></app-header>
<app-audio></app-audio>
<app-bmap></app-bmap>
<app-notice></app-notice>
<app-record></app-record>
<app-swiper></app-swiper> -->
<!-- forms -->
<!-- 上传 -->
<!-- <app-form-row>
  <app-uploader></app-uploader>
</app-form-row> -->
<!-- 输入框 -->
<!-- <app-form-row>
  <app-input></app-input>
</app-form-row>
<app-footer></app-footer> -->
<app-page offset="44">
  <div class="wrapper">
    <ul>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <app-sticky [top]="10">10</app-sticky>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li sticky="30">30</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
      <Li>1</Li>
    </ul>
  </div>
</app-page>
