/* You can add global styles to this file, and also import other style files */

@import "~meepo-themes/global";
$ionicons-font-path: "./assets/fonts";
@import "~meepo-themes";
html,
body,
app-root {
    display: block;
    height: 100%;
    overflow: hidden;
}

* {
    -webkit-overflow-scrolling: touch;
}

app-sticky,[sticky],[appSticky] {
    position: -webkit-sticky;
    position: sticky;
    display: block;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
